/app/values/fbcreds.js
/app/values/mapapi.js
/django/capstone/stock_up/migrations
/django/capstone/stock_up/__pycache__
/NSS-frontend-capstone-master/lib/bower_components
/NSS-frontend-capstone-master/lib/node_modules
/django/capstone/db.sqlite3