* {
	font-family: 'Fira Sans', sans-serif;
}

body {
	margin: 1em;
	background-color: #A0C1D1;
	color: #232C33;
}

/*Login Styling*/
.move-down {
	min-height: 250px;
}

h4 {
	font-weight: bolder;
	font-size: 50px;
}

#loginbtn {
	font-size: 25px;
}

.login-flex {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#google-login {
	flex-grow: 1;
}

#login-form {
	flex-grow: 1;
}

/*Back to Top Button Styling*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(65, 105, 225, 0.9);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(65, 105, 225, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*Profile Page Styling*/

.profile-flex {
	display: flex;
	align-items: flex-start;
}

#save {
	justify-content: flex-start;
	width: 55%;
	display: inline-block;
}

#mapid { 
	height: 400px;
	width: 40%; 
	display: inline-block;
	margin-left: 15px;
	box-shadow: 3px 3px 3px 1px black;
}

/*Promotions Page Styling*/

table {
	border: 2px solid black;
	background-color: white;
}

.capitalize {
	text-transform: capitalize;
}

/*Modal Styling*/

.alert-success {
	background-color: green;
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: white;
	padding: 10px;
	max-width: 200px;
}
.alert-success > [data-notify="title"] {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}



/*NavBar Styling*/
.navbar-default {
	box-shadow: 2px 2px 2px 1px black;
}