<h6 style="text-align: center; margin-left: auto;"><i>Welcome to Stock Up! This site is designed to make going grocery shopping more efficient and less of a hassle.  Use the below promotions to plan your grocery shopping trips!</i></h6>

<div class="container">
  <div class="row">
    <table class="table table-hover promo-table" >
      <h4 class="capitalize">Promotions</h4>
      <thead class="table table-inverse" >
        <th>Product Name</th>
        <th>Sale Price</th>
        <th>Store</th>
      </thead>
      <tbody  ng-repeat="promotion in promotions | filter: searchText.search">
        <tr>
          <td width="25%">{{promotion.name}}</td>
          <td class="text-muted">{{promotion.sale_price}}</td>
          <td>{{promotion.store}}
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="savePromo(promotion)">
              <span class="glyphicon glyphicon-plus"></span> Add Promo
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>