<div class="container">
  <div class="row" ng-repeat="item in finalArray | filter: searchText.search">
    <table class="table table-hover promo-table" >
      <h4 class="capitalize">{{item.heading}}</h4>
      <thead class="table table-inverse" >
        <th>{{item.name}}</th>
        <th>{{item.reg_price}}</th>
        <th>{{item.sale}}</th>
        <th>{{item.date}}</th>
        <th>{{item.location}}</th>
      </thead>
      <tbody  ng-repeat="promotion in item.promotions | filter: searchText.search">
        <tr>
          <td width="25%">{{promotion.name}}</td>
          <td class="text-muted">{{promotion.reg_price | currency}}</td>
          <td class="text-success"><em><strong>{{promotion.discount_price | currency}}</strong></em></td>
          <td class="text-danger"><strong>{{promotion.promo_end}}</strong></td>
          <td>{{promotion.store}}
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="savePromo(promotion)">
              <span class="glyphicon glyphicon-plus"></span> Add Promo
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <table class="table table-hover promo-table">
    <h4>Seafood</h4>
      <thead class="table table-inverse" >
        <th>Product Name</th>
        <th>Regular Price</th>
        <th>Sale Price</th>
        <th>Sale Valid Through</th>
        <th>Find It Here!</th>
      </thead>
      <tbody  ng-repeat="promotion in promotions | filter: searchText.search" ng-if="promotion.category === 'seafood'">
        <tr>
          <td width="25%">{{promotion.name}}</td>
          <td class="text-muted">{{promotion.reg_price | currency}}</td>
          <td class="text-success"><em><strong>{{promotion.discount_price | currency}}</strong></em></td>
          <td class="text-danger"><strong>{{promotion.promo_end}}</strong></td>
          <td>{{promotion.store}}
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="savePromo(promotion)">
              <span class="glyphicon glyphicon-plus"></span> Add Promo
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover promo-table">
    <h4>Baked Goods</h4>
      <thead class="table table-inverse" >
        <th>Product Name</th>
        <th>Regular Price</th>
        <th>Sale Price</th>
        <th>Sale Valid Through</th>
        <th>Find It Here!</th>
      </thead>
      <tbody  ng-repeat="promotion in promotions | filter: searchText.search" ng-if="promotion.category === 'baked goods'">
        <tr>
          <td width="25%">{{promotion.name}}</td>
          <td class="text-muted">{{promotion.reg_price | currency}}</td>
          <td class="text-success"><em><strong>{{promotion.discount_price | currency}}</strong></em></td>
          <td class="text-danger"><strong>{{promotion.promo_end}}</strong></td>
          <td>{{promotion.store}}
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="savePromo(promotion)">
              <span class="glyphicon glyphicon-plus"></span> Add Promo
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover promo-table">
    <h4>Produce</h4>
      <thead class="table table-inverse" >
        <th>Product Name</th>
        <th>Regular Price</th>
        <th>Sale Price</th>
        <th>Sale Valid Through</th>
        <th>Find It Here!</th>
      </thead>
      <tbody  ng-repeat="promotion in promotions | filter: searchText.search" ng-if="promotion.category === 'produce'">
        <tr>
          <td width="25%">{{promotion.name}}</td>
          <td class="text-muted">{{promotion.reg_price | currency}}</td>
          <td class="text-success"><em><strong>{{promotion.discount_price | currency}}</strong></em></td>
          <td class="text-danger"><strong>{{promotion.promo_end}}</strong></td>
          <td>{{promotion.store}}
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="savePromo(promotion)">
              <span class="glyphicon glyphicon-plus"></span> Add Promo
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover promo-table">
    <h4>Condiments</h4>
      <thead class="table table-inverse" >
        <th>Product Name</th>
        <th>Regular Price</th>
        <th>Sale Price</th>
        <th>Sale Valid Through</th>
        <th>Find It Here!</th>
      </thead>
      <tbody  ng-repeat="promotion in promotions | filter: searchText.search" ng-if="promotion.category === 'condiments'">
        <tr>
          <td width="25%">{{promotion.name}}</td>
          <td class="text-muted">{{promotion.reg_price | currency}}</td>
          <td class="text-success"><em><strong>{{promotion.discount_price | currency}}</strong></em></td>
          <td class="text-danger"><strong>{{promotion.promo_end}}</strong></td>
          <td>{{promotion.store}}
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="savePromo(promotion)">
              <span class="glyphicon glyphicon-plus"></span> Add Promo
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>

<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>